html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

#map {
 	height: 60%;
 	width: 100%;
}

h1, p {
	font-family: 'Roboto', sans-serif;
	margin-left: 20%;
}

.logo {
	height: 17%;
	width: 7%;
	margin-top: 3%;
	margin-left: 5%;
}

.login {
	margin-left: 80%;
}

