@charset "UTF-8";
/* line 4, /Users/Gio/Desktop/Talis/www/trash/res/sass/_global.scss */
h1 {
  text-align: center;
  display: block;
  font-size: 30px !important;
  color: #cc1761;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 12, /Users/Gio/Desktop/Talis/www/trash/res/sass/_global.scss */
h2 {
  font-family: 'roboto', sans-serif !important;
  font-size: 30px;
}

/* line 16, /Users/Gio/Desktop/Talis/www/trash/res/sass/_global.scss */
header {
  width: 100%;
  background-image: url("../images/pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 13vh;
  display: flex;
  justify-content: space-between;
}

/* line 27, /Users/Gio/Desktop/Talis/www/trash/res/sass/_global.scss */
footer {
  width: 100vw;
  height: 13vh;
  background-image: url("../images/pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* line 38, /Users/Gio/Desktop/Talis/www/trash/res/sass/_global.scss */
a {
  text-decoration: none;
  display: inline-block;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_login.scss */
.login_container {
  height: 74vh;
  width: 100%;
  background-color: #F9F9F9;
}

/* line 6, /Users/Gio/Desktop/Talis/www/trash/res/sass/_login.scss */
.lgn_ctn {
  width: 70%;
  padding-top: 50px;
  height: 74vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 14, /Users/Gio/Desktop/Talis/www/trash/res/sass/_login.scss */
.lgn_ctn form {
  height: 75%;
  width: 100%;
}

/* line 18, /Users/Gio/Desktop/Talis/www/trash/res/sass/_login.scss */
.lgn_ctn input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  border-color: lightgrey;
  margin-bottom: 10px;
}

/* line 28, /Users/Gio/Desktop/Talis/www/trash/res/sass/_login.scss */
.subsc_link {
  width: 90%;
  border: solid 2px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.container {
  width: 90%;
}

/* line 4, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.footer-content {
  display: flex;
  flex-wrap: nowrap;
}

/* line 8, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.footer-content p {
  font-size: 15px;
  color: #37431e;
}

/* line 12, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.appointment {
  text-align: center;
}

/* line 15, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.calendar {
  background-image: url("../images/calendar.png");
  background-size: 100%;
  padding: 14px;
  background-repeat: no-repeat;
  margin: 10px;
}

/* line 22, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.reporting {
  background-image: url("../images/urgent.png");
  background-size: 100%;
  padding: 14px;
  background-repeat: no-repeat;
  margin: 10px;
}

/* line 29, /Users/Gio/Desktop/Talis/www/trash/res/sass/_footer.scss */
.myAccount {
  font-size: 16px;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_header.scss */
header .logo {
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 80%;
  margin-top: 10px;
}

/* line 11, /Users/Gio/Desktop/Talis/www/trash/res/sass/_header.scss */
.login {
  background-image: url("../images/login.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 80%;
  margin-top: 10px;
}

/* line 20, /Users/Gio/Desktop/Talis/www/trash/res/sass/_header.scss */
.logout {
  background-image: url("../images/logout2.ico");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 80%;
  margin-top: 10px;
}

/* line 29, /Users/Gio/Desktop/Talis/www/trash/res/sass/_header.scss */
.main-title {
  text-align: center;
}

/* line 2, /Users/Gio/Desktop/Talis/www/trash/res/sass/_subscribe.scss */
.subscribe_title {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 80px;
}

/* line 9, /Users/Gio/Desktop/Talis/www/trash/res/sass/_subscribe.scss */
#subscribe {
  float: right;
}

/* line 12, /Users/Gio/Desktop/Talis/www/trash/res/sass/_subscribe.scss */
#subscribe a {
  text-decoration: none;
}

/* line 15, /Users/Gio/Desktop/Talis/www/trash/res/sass/_subscribe.scss */
.name input,
.surname input,
.email input {
  width: 100vw;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  border: 1px solid;
  border-color: grey;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_index.scss */
.map-container {
  width: 100%;
  height: 74vh;
}

/* line 5, /Users/Gio/Desktop/Talis/www/trash/res/sass/_index.scss */
.map {
  height: 100%;
  width: 100%;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_appointment.scss */
.appointment_container {
  height: 74vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #F9F9F9;
}

/* line 9, /Users/Gio/Desktop/Talis/www/trash/res/sass/_appointment.scss */
.appointment_form {
  width: 100%;
  padding-top: 10vh;
}

/* line 13, /Users/Gio/Desktop/Talis/www/trash/res/sass/_appointment.scss */
.adr_ctn input {
  font-size: 16px;
  margin-bottom: 10px;
  width: 25%;
  text-align: center;
}

/* line 20, /Users/Gio/Desktop/Talis/www/trash/res/sass/_appointment.scss */
.hidden {
  opacity: 0;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_team_page.scss */
td, th {
  border: 1px solid black;
  /* auront une bordure de 1px */
}

/* line 6, /Users/Gio/Desktop/Talis/www/trash/res/sass/_team_page.scss */
table {
  border-collapse: collapse;
  /* Les bordures du tableau seront collées (plus joli) */
}

/* line 10, /Users/Gio/Desktop/Talis/www/trash/res/sass/_team_page.scss */
td {
  border: 1px solid black;
}

/* line 1, /Users/Gio/Desktop/Talis/www/trash/res/sass/_account.scss */
.data_user {
  height: 74vh;
  background-color: #F9F9F9;
  padding-top: 25px;
}

/* line 6, /Users/Gio/Desktop/Talis/www/trash/res/sass/_account.scss */
.dt_u_ctn {
  width: 70%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
}

/* line 12, /Users/Gio/Desktop/Talis/www/trash/res/sass/_account.scss */
.apt_ctn {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

/* line 17, /Users/Gio/Desktop/Talis/www/trash/res/sass/_account.scss */
.data_user label {
  display: block;
  width: 40%;
  float: left;
  margin-bottom: 10px;
}

/* line 23, /Users/Gio/Desktop/Talis/www/trash/res/sass/_account.scss */
.data_user input {
  width: 50%;
  border: solid 1px;
  border-color: lightgrey;
  float: right;
  margin-bottom: 10px;
}

/* line 30, /Users/Gio/Desktop/Talis/www/trash/res/sass/_account.scss */
.dt_u_ctn p,
.apt_ctn #apt_lst {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 35px;
}

/*# sourceMappingURL=../stylesheets/style.map */