.appointment_container{
	height: 74vh;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	text-align: center;
	background-color: $bcg;
}
// .inside_ctn{
// 	height: 100%;
// }
.appointment_form{
	width: 70%;
	height: 74vh;
	margin-left: auto;
	margin-right: auto;
}
.adr_ctn{
	padding-top: 10px;
	height: 25%;
	margin-bottom: 15px;
}
.adr_ctn input{
	display: block;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-weight: lighter;
	text-align: center;
	border-style: none;
	border-bottom: solid 1px;
	border-bottom-color: rgba(237,231,92,0.3);
}
.appointment_form p{
	background-color: rgba(237,231,92,0.3);
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
}
.info_ctn{
	width:100%;
	height: 50%;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.hourAndDate{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}
.hourAndDate label{
	float: left;
	width: 40%;
}
.hourAndDate input{
	display: block;
	float: right;
	width: 30%;
	text-align: center;
}
.typeAndSize{
	margin-top: 10px;
	width: 100%;
}
.type,
.size{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.type input,
.size input{
	float: left;
}
.type p,
.size p{
	background-color: transparent;
}
.hidden {
	opacity: 0;
}



