.appointment_container{
	height: 74vh;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: $bcg;
}
.appointment_form{
	width: 70%;
	height: 74vh;
	margin-left: auto;
	margin-right: auto;
}
.adr_ctn{
	padding-top: 35px;
	height: 30vh;
}
.adr_ctn input{
	display: block;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
	border-style: none;
	border-bottom: solid 1px;
	border-bottom-color: lightgrey;
}
.adr_ctn p{
	width: 70%;
	background-color: rgba(237,231,92,0.5);
	// padding: 5px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;

}
.typeAndSize{
	height: 44vh;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.typeAndSize label{
	display: block;
	width: 40%;
	float: left;
}
.typeAndSize input{
	width: 40%;
	float: right;
}
.hidden {
	opacity: 0;
}



