footer
{
  width: 100vw;
  height: 13vh;
  background-image: url('../images/pattern.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.container{
	width: 90%;
}
.footer-content{
	display: flex;
	flex-wrap: nowrap;
}
.footer-content p{
	font-size: 15px;
	color: $vert_de_chrome;
}
.appointment{
	text-align: center;
}
.calendar{
	background-image: url("../images/calendar.png");
	background-size: 100%;
	padding: 14px;
	background-repeat: no-repeat;
	margin: 10px;
}
.reporting{
	background-image: url("../images/urgent.png");
	background-size: 100%;
	padding: 14px;
	background-repeat: no-repeat;
	margin: 10px;
}
.myAccount{
	font-size: 16px;
}


