body{
	background-image: url('../images/main-bcg.png')
}
a{
	text-decoration: none;
	display: inline-block;
}
header{
	margin-bottom: 10px !important;
}
h2{
	font-family: 'roboto', sans-serif !important;
}