h1{
  text-align: center;
  display: block;
  font-size: 30px!important;
  color: $rubis;
}
header
{
  width: 100%;
  background-color: $olive;
  height: 10vh;
  display: flex;
  align-items: center;
}

.logo
{
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 100%;
  // float: left;
  // display: block;
}

.login_area{
  width: 20%;
  // float: right;
}
.main-title{
  // display: block;
  width: 20%;
}