h1{
  text-align: center;
  display: block;
  font-size: 25px!important;
  color: $rubis;
  margin-top: 5px;
  margin-bottom: 5px;
}

header{
  width: 100%;
  background-image: url('../images/pattern.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 13vh;
  display: flex;
  justify-content: space-between;
}

header .logo{
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 80%;
  margin-top: 10px;
}

.login{
  background-image: url("../images/login.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 80%;
  margin-top: 10px;
}
.logout{
  background-image: url("../images/logout2.ico");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 80%;
  margin-top: 10px;
}
.main-title{
  text-align: center;
}







