h1{
  text-align: center;
  display: block;
  font-size: 30px!important;
  color: $rubis;
}

header
{
  width: 100%;
  background-color: $olive;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.logo
{
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 100%;
}

.login_area{
  width: 20%;
}
.main-title{
  width: 20%;
}