.map-container{
	width: 90%;
	height: 71vh;
	margin-right: auto;
	margin-left: auto;
	border: solid 3px;
	border-color: $vert_de_chrome;
	border-radius: 10px;
	margin-bottom: 15px;
}
.map
{
  height: 100%;
  width: 100%;
}