.map-container{
	width: 98%;
	height: 72vh;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px;
	border-color: $vert_de_chrome;
	margin-bottom: 15px;
}
.map
{
  height: 100%;
  width: 100%;
}