.login_container{
	height: 80vh;
}
.login_form{
	width : 100%;
	text-align: center;
}

.login_title{
  text-align: center;
  font-size: 50px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.username input, .password input{
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border: 1px solid;
	border-color: grey;
}
.login-bottom{
	text-align: center;
}

// #login_recover #subscribe{
// 	text-align: center;
// 	margin-top: 20px;
// 	font-size: 20px;
// 	display: inline-block;
// }








