.login_container{
	height: 74vh;
	width: 100%;
	background-color: $bcg;
}
.lgn_ctn{
	width: 70%;
	padding-top: 50px;
	height: 74vh;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.lgn_ctn form{
	height: 75%;
	width: 100%;
}
.lgn_ctn input{
	width: 90%;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	border: solid 1px;
	border-radius: 5px;
	border-color: rgba(237,231,92,0.5);
	margin-bottom: 10px;
}
.subsc_link{
	width: 90%;
	border: solid 2px;
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	border-color: rgba(237,231,92,0.5);
	margin-left: auto;
	margin-right: auto;
}







