.login_container{
	height: 74vh;
	width: 100%;
	background-color: $bcg;
}
.lgn_ctn{
	width: 70%;
	padding-top: 50px;
	height: 74vh;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.lgn_ctn form{
	height: 75%;
}
.lgn_ctn .subsc_link{
	height: 25%;
}
.lgn_ctn input{
	width: 100%;
	padding: 5px;
	// display: block;
	text-align: center;
	border: solid 1px;
	border-color: $bcg_dark;
	margin-bottom: 10px;
}











