// zone css pour la page subscribe.php
.subscribe_title{
	text-align: center;
	font-size: 50px;
	margin-top: 100px;
  	margin-bottom: 80px;
}
// .subscribe_form{
// 	background-image: url('../images/pattern.png');
// }

// zone css pour la zone header.php
#subscribe{
	float: right;
}
#subscribe a{
	text-decoration: none;
}

.name input,
.surname input,
.email input,
.phone input,
.validate
{
	width: 100vw;
	margin-top: 20px;
	padding: 5px;
	text-align: center;
	font-size: 30px;
	border: 1px solid;
	border-color: grey;
}


