.subscribe_title{
	text-align: center;
	font-size: 50px;
	margin-top: 100px;
  	margin-bottom: 80px;
}

.name input,
.surname input,
.email input,
.phone input{
	width: 100vw;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border: 1px solid;
	border-color: grey;
}
