@import "module/couleur";
@import "global";
@import "login";
@import "footer";
@import "header";
@import "subscribe";
@import "reporting";


.map
{
  height: 80vh;
  width: 100%;
}

.button
{
  position: absolute;
}

